.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  object-fit: cover;
}

.profile-container {
  width: 900px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  line-height: 20px;
  overflow: scroll;
  max-height: 80vh;
  margin: 300px (cima e embaixo) 10px (lateral);
}

.person-profile {
  height: 300px;
  border-radius: 10px;
  width: 200px;
  margin-bottom: 50px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: rgb(169, 189, 200);
}
