

.editprofile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  overflow: scroll;
  max-height: 80vh;
  font-size: 2px;
}
