/* Seus estilos globais vão aqui */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto Mono";
  background-image: url ("../../images/bkground.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
